<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '좌석예약'})%>
<body>
    <a href="/">메인 화면</a><br>
    <!--????-->
    좌석 선택창<br>
    <table>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <tr>
            <td>1</td>
            <td></td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td>X</td>
            <td>X</td>
        </tr>
        </table><br>
    <a href="/purchase/movie/check">예약 확인</a>
</body>
</html>