<!DOCTYPE html>
<html lang="en">
<%- include('../../_component/head.ejs', {titleName: '리뷰 작성'}) %>
<body>
    <h1><%= movie_title %></h1>

    제목<br><input type="text" name="review_title" id="review_title">
    리뷰<br>
    <input type="text" name="comment", id="comment">
    점수<br>
    <input
        type="range"
        value="0"
        min="0"
        max="10"
        step="0.5"
        name="review_score"
        id="review_score"
        onchange='range_change(this)'>
    <span id='score'></span>
    <button id="btn_register">등록</button>

    <script>
    const movie_code = <%= movie_code %>;
    const review_title = findId("review_title");
    const comment = findId("comment");
    const score = findId("score");
    const btn_register = findId("btn_register");

    btn_register.addEventListener('click', register);

    // 현재 리뷰 평점 스크롤 바의 점수를 보여주는 함수
    function range_change(obj)
    {
        findId('score').innerHTML=obj.value;
    }

    // 리뷰 등록 버튼
    async function register()
    {
        const data = {
            movie_code,
            review_title,
            comment,
            score,
        };
        const response_data = await requestPostAPI('/movieinfo/review/write/register', data);
        
        if (response_data.data.result == true)
        {
            alert('리뷰 등록 성공');
            // 필요한 정보를 string으로 변환 후 다음 페이지 요청
            const href = '/movieinfo/movie';
            const queryParams = {
                movie_code
            };
            const queryString = Object.entries(queryParams).map(([key, value]) => `${key}=${encodeURIComponent(value)}`).join('&');
            window.location.href = `${href}?${queryString}`;
        }
        else
        {
            alert('리뷰 등록 실패');
        }
    }
    </script>
</body>
</html>
