export default {
    user : process.env.NODE_ORACLEDB_USER || "USER",
    password : process.env.NODE_ORACLEDB_PASSWOR || "PASSWORD",
    connectString : process.env.NODE_ORACLEDB_CONNECTIONSTRING || "HOST/XX"
}