<!DOCTYPE html>
<html lang="en">
<%- include('_component/head.ejs', {titleName: '회원가입'})%>
<body>
    <!--메인 화면-->
    <%- include('_component/goto_main.ejs')%>
    <h1>회원가입</h1>
    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td><input type="id" name="signin_id" id="input_id"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="signin_pw" id="input_pw"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" id="input_name"></td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td><input type="date" name="birth" id="input_birth"></td>
            </tr>
            <tr>
                <td>연락처</td>
                <td><input type="tel" name="phone" id="input_phone"></td>
            </tr>
            <tr>
                <td>별명</td>
                <td><input type="text" name="nickname" id="input_nickname"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" name="email" id="input_email"></td>
            </tr>
        </tbody>
    </table>

    <button id="btn_signup">회원가입</button>
    <script>
        const btn_signup = findId('btn_signup');
        const input_id = findId('input_id');
        const input_pw = findId('input_pw');
        const input_name = findId('input_name');
        const input_birth = findId('input_birth');
        const input_phone = findId('input_phone');
        const input_nickname = findId('input_nickname');
        const input_email = findId('input_email');

        btn_signup.addEventListener('click', function()
        {
            const data = {
                id: input_id.value,
                pw: input_pw.value,
                name: input_name.value,
                birth: input_birth.value,
                phone: input_phone.value,
                nickname: input_nickname.value,
                email: input_email.value,
            };
            requestPostAPI('/signup', data)
            .then(function (response)
            {
                if (response.data.result == true)
                {
                    alert('회원가입 성공');
                    window.location.href = '/signin';
                }
                else
                {
                    alert('회원가입 실패');
                }
            });
        });
    </script>
</body>
</html>
